**/.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.cache
pipeline
utils/detect/datasets/
utils/detect/runs/
data/test_cropped_speed_only/
data/train_cropped_speed_only/
output/excel/yolo/
output/images/
output/excel/cropped_only
output/excel/prohibitory_only
output/excel/speed_only
# Legacy (ignore)
data/legacy/
models/yolo_detect_signs/datasets
models/yolo_detect_signs/legacy
/models/yolo_detect_signs/runs/detect/legacy
/models/yolo_detect_signs/runs/detect/val
models/legacy