**/.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.cache
pipeline
# Legacy (ignore)
data/legacy/
models/yolo_detect_signs/datasets
models/yolo_detect_signs/legacy
/models/yolo_detect_signs/runs/detect/legacy
models/legacy
output/excel/legacy
output/excel/cropped_only/legacy
output/excel/prohibitory_only/legacy
output/excel/speed_only/legacy
output/excel/yolo/legacy
output/images/yolo/legacy
utils/legacy
legacy/